html {
    background: url("../resources/splash_background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
    height:100%;
    min-height:100%;
   
}

.transnav * {
    background-color: rgba(0,0,0,0)!important;
   }

body{
    font-family: 'Nova Round', cursive;
    min-height:100%;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
  }
.spiralText {

    font: 700 4em/1 'Nova Round', cursive;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

/* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

}
@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}


a{
    margin-left: 8px;
    margin-right: 8px;
    width: 90%;
}
.smallImgs{
    max-width: 10%;
}

.pad-left{
    margin-left: 35px;
}
.section{
    height: 500px;
}
.padup{
    margin-top: 6%;
}
.reallypadup{
    margin-top: 15%;
}


.textOnWhite{
    color: #000000;
}
.textOnBlack{
    color: #ffffff;
}
