html {
    background: url("../resources/splash_background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
   
}

.transnav * {
    background-color: rgba(0,0,0,0)!important;
   }

body{
    font-family: 'Nova Round', cursive;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
  }
a{
    margin-left: 8px;
    margin-right: 8px;
}
.pad-left{
    margin-left: 35px;
}
.section{
    height: 500px;
}
.padup{
    margin-top: 6%;
}
.reallypadup{
    margin-top: 15%;
}


.textOnWhite{
    color: #000000;
}
.textOnBlack{
    color: #ffffff;
}